.products .product-slider {
	padding: var(--scale-smallest);
}
.products .product-slider .wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--scale-medium);
}
.products .product-slider:first-child {
	margin-bottom: var(--scale-medium);
}
.products .product-slider .box {
	padding: var(--scale-larger) var(--scale-medium);
	border-radius: var(--scale-micro);
	outline: var(--outline);
	outline-offset: var(--outline-offset);

	text-align: center;
	background: var(--clr-light);
	box-shadow: var(--box-shadow-dark);
	transition: var(--transition-outline-offset);
}
.products .product-slider .box:hover {
	outline-offset: 0;
	outline: var(--outline-hover);
}

.products .product-slider .box img {
	height: calc(var(--scale-medium) * 10);
}
.products .product-slider .box h3 {
	color: var(--clr-dark);
	font-size: var(--scale-large);
}
.products .product-slider .box .price {
	padding: var(--scale-micro) 0;
	color: var(--clr-gray);
	font-size: var(--scale-medium);
}
.products .product-slider .box .stars i {
	padding: var(--scale-micro) 0;
	font-size: var(--scale-medium);
	color: var(--orange);
}
