@import url("./css/utility.css");
@import url("./css/header.css");
@import url("./css/home.css");
@import url("./css/features.css");
@import url("./css/products.css");
@import url("./css/action.css");

#menu-btn {
	display: none;
}

/* 
----- Media Queries
*/
@media screen and (max-width: 1920px) {
	.home {
		padding: calc(var(--scale-largest) * 4) 0;
	}
	.features .box-container {
		margin: 0 var(--scale-largest);
	}
	.features .box-container {
		padding-left: calc(var(--scale-largest) * 3);
	}
}

@media screen and (max-width: 1440px) {
	.home {
		padding: calc(var(--scale-largest) * 3) 0;
	}
	.features .box-container {
		padding-left: calc(var(--scale-largest) * 2);
	}
}

@media screen and (max-width: 1201px) {
	.home {
		padding: calc(var(--scale-largest) * 2) 0;
	}
	.home .content p {
		display: block;
		margin: 0 var(--scale-large);

		font-weight: 500;
	}
}

@media screen and (max-width: 991px) {
	html {
		font-size: 55%;
	}
	.header {
		padding: var(--scale-large);
	}
	.home {
		margin-top: calc(var(--scale-largest));
		padding: var(--scale-largest) 0;
	}
	.home .content p {
		display: none;
	}
	.features .box-container {
		padding-left: var(--scale-largest);
	}
}
@media screen and (max-width: 768px) {
	section {
		padding: var(--scale-large);
	}
	#menu-btn {
		display: inline-block;
	}

	.header .navbar {
		width: calc(var(--scale-larger) * 10);
		border-radius: var(--scale-micro);
		box-shadow: var(--box-shadow-dark);

		position: absolute;
		top: 110%;
		right: var(--scale-negative);
		background: var(--clr-light);

		transition: var(--transition-right);
	}
	.header .navbar a {
		margin: var(--scale-large) var(--scale-larger);
		display: block;
		font-size: var(--scale-large);
	}
	.header .search-form {
		width: 95%;
	}
	.home .content h1,
	.features .heading {
		font-size: var(--scale-larger);
	}
	.features .box-container {
		padding-left: var(--scale-larger);
	}
}
@media screen and (max-width: 480px) {
	html {
		font-size: 50%;
	}
	.header .navbar {
		width: 75vw;
		height: 100vh;
		padding-top: var(--scale-largest);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--scale-large);

		z-index: 1000;
		/* justify-content: space-evenly; */
	}
	.header .search-form,
	.header .shopping-cart,
	.header .user-form {
		width: 95vw;
	}
	.header .search-form.active,
	.header .shopping-cart.active,
	.header .user-form.active,
	.header .navbar.active {
		right: calc(var(--scale-small) - var(--scale-micro));
	}
	.features .box-container {
		padding-left: var(--scale-medium);
	}
}

@media screen and (max-width: 375px) {
	.home .content h1,
	.features .heading {
		font-size: var(--scale-large);
	}
	.features .box-container {
		margin: 3%;
		padding-left: var(--scale-large);
	}
}
